@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #283618;
}

.container {
  width: 80%;
  display: grid;
  gap: 2rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 600px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
}
